@model IEnumerable<PetrolPumpSystem.Models.tblProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="SubPageHeader">
    <div class="row">
        <div class="col-sm-12">
            <h4 style="float:left;">Fuels</h4>
            <h4 style="float:right;margin-right:2em;">Total Fuels: @Session["totalfuels"]</h4>
        </div>
    </div>
</div>
<br />
<p class="subPageMargin">
    @*@Html.ActionLink("Add New", "Create")*@
    <input type="button" class="btn btn-success" value="Add New" onclick="location.href='@Url.Action("Create", "Products")'" />

</p>
<div class="container table-responsive">
    <table class="table table-responsive table-striped " id="myTable">
        <thead>
            <tr class="tblHeader">
                <th>
                    Fuel
                </th>
                <th>
                    Discription
                </th>
                <th>
                    Sale Price
                </th>
                <th>
                    Date
                </th>
                <th>Actions</th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PDetail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PId })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
@section Scripts{
    
    }