@model IEnumerable<PetrolPumpSystem.Models.tblSupplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="SubPageHeader">
    <div class="row">
        <div class="col-sm-12">
            <h4 style="float:left;">Suppliers</h4>
            <h4 style="float:right;margin-right:2em;">Total Suppliers: @Session["totalSuppliers"]</h4>
        </div>
    </div>
</div>
<br />
<p class="subPageMargin">
    @*@Html.ActionLink("Add New", "Create")*@
    <input type="button" class="btn btn-success" value="Add New" onclick="location.href='@Url.Action("Create", "Suppliers")'" />

</p>
<div class="container table-responsive">
    <table class="table table-responsive table-striped " id="myTable">
        <thead>
            <tr class="tblHeader">
                <th>
                    Name
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Mobile
                </th>

                <th>Actions</th>
            </tr>
            </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr class="tblbody">
                    <td>
                        @Html.DisplayFor(modelItem => item.SupName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupMobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupPhone)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SupId, @class = "myclass" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SupId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SupId })
                    </td>
                </tr>

            }
        </tbody>

    </table>
    </div>
    @section Scripts{

        <script type="text/javascript">

            $(".btnnew").hover(function () {
                $(this).animate({ opacity: '0.7' });
            }, function () {
                $(this).animate({ opacity: '1' });
                $(this).css('background-color', 'deeppink');
                $(this).css('color', 'red');

            });

            $('#abcd').on('click','a.popup',function(e){
                e.preventDefault();
                openpopup($(this).attr('href'));
            });
            
            function openpopup(pagUrl){
                var $pageconent=$('<div/');
                $pageconent.load(pagUrl)
                $dialog=$('<div clas="sppopupwindow" style="overflow:auto"></div>')
                .html($pageconent)
                .dialog
            }

        </script>
    }
